extends ./layouts/base

block title
  title Dashboard :: Clever V1
  
block content
  h1 Bootstrap starter template
  p.lead
    | Use this document as a way to quickly start any new project.
    br
    |  All you get is this text and a mostly barebones HTML document.


// Put here constants, etc etc.. 
block prejs 
  script.
    // window.BASE_URL = 'http://somethingcool.com'
