extends ./layouts/base

block title
  title Dashboard :: Clever V1
  
block content
  h1 Clever Project Dashboard
  p.lead
    | Please use the navigation menu above to surf around the dashboard :-)

// Put here constants, etc etc.. 
block prejs 
  script.
    // window.BASE_URL = 'http://somethingcool.com'
